.vscode/
__pycache__

agent/

dna-storage-pipeliner/

database/
logs/

output_data/synthesis_bench/decoding/
output_data/six_images/decoding/

input_data/synthesis_bench/reads/*/*/*.fastq.gz
input_data/synthesis_bench/reads/*/*.fastq.gz
input_data/synthesis_bench/reads/*/*.fasta
input_data/synthesis_bench/reads/*/*/*.fasta



input_data/six_images/reads/*/*/*.fastq.gz
input_data/six_images/reads/*/*.fastq.gz

plots/plots/*.png
plots/plots/*.svg
